/* General CSS */

@font-face {
    font-family: "headings";
    src: url('../fonts/euler.otf');
}

body {
	padding-top: 50px;
	padding-bottom: 3%;
	
	font-family: headings;
}

p {
	text-align: justify;
    text-justify: inter-word;
}

/* navbar */

.navbar-brand {
	font-size: 1.8em;
}

.navbar li {
	font-size: 1.2em;
}

.navbar a:hover {
	background-color: #E7E7E7 !important;
}

a.anchor {
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

/* content holders */
.content-section-a, .content-section-b {
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: linen;
	
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #A8A8A8;
}

.content-section-b {
	background-color: snow;
}

/* header section */

.header {
	font-size: 1.3em;
}

.header h1{
	margin-bottom: 30px;
	text-align: center;
	font-size: 2.4em;
}

.portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}

/* about section */

.about-text {
	font-size: 1.1em;
	margin-bottom: 30px;
}

.wedding-img {
	max-width: 70%;
}

/*contact section */

#contact-form {
	margin-bottom: 20px;
}

#contact-form * {
	margin-bottom: 10px;
	max-width: 70%;
}

#contact-form .btn {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#contact-form .btn:hover{
	background-color: #56C2FC;
}

.contact-details div {
	margin-bottom: 18px;
}

/* footer */

#webcredit {
	font-size: x-small;
}

/* media queries */

@media (max-width: 767px) {
	.header h1 {
		font-size: 2em;
	}
	
	.portrait-holder {
		margin-bottom: 30px;
	}
	
	#contact input, #contact textarea {
		max-width: 100%;
	}
	
	.wedding-img {
		max-width: 100%;
	}
}